{% extends 'base.html' %}

{% block title %}Signup page{% endblock %}

{% block content %}

<div class="container w-25">
    {% if message %}
    <h2 style="color: red;">{{message}}</h2>
    {% endif %}
    <h1>Sign up</h1>
    <form action="#" method="post">
        <label for="usernameInput">Enter Username:</label>
        <input id="usernameInput" class="form-control" name="username" type="text" placeholder="Enter Username"
               required>
        <label for="emailInput">Enter E-mail Address:</label>
        <input id="emailInput" class="form-control" name="email_address" type="text" placeholder="E-mail address"
               required>
        <label for="passwordInput">Enter Password:</label>
        <input id="passwordInput" class="form-control" name="password" type="password" placeholder="Enter Password"
               required>

        <label for="confirmPasswordInput">Confirm Password:</label>
        <input id="confirmPasswordInput" class="form-control" name="confirm_password" type="password"
               placeholder="Re-enter Password" required>


        <button type="submit" class="btn btn-success">Submit</button>

    </form>
</div>


{% endblock %}